In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# ask file name from user

print("name dat file boah: ")
file_name = input()

# read csv file
df = pd.read_csv(file_name)

# drop columns

df.drop(['Notes'] , axis = 1 , inplace = True)
df.drop(['Type'] , axis = 1 , inplace = True)
df.drop(['Recorded on'] , axis = 1 , inplace = True)
df.drop(['Scheduled for'] , axis = 1 , inplace = True)

df.head(15)

               Name    Value
0   Isotretinoin 20    Taken
1   Isotretinoin 20    Taken
2   Isotretinoin 20    Taken
3   Isotretinoin 20    Taken
4   Isotretinoin 20  Skipped
5   Isotretinoin 20    Taken
6   Isotretinoin 20    Taken
7   Isotretinoin 20    Taken
8   Isotretinoin 20    Taken
9   Isotretinoin 20    Taken
10  Isotretinoin 20    Taken
11  Isotretinoin 20    Taken
12  Isotretinoin 20    Taken
13  Isotretinoin 20    Taken
14  Isotretinoin 20    Taken

In [3]:
df.describe()

                   Name  Value
count               343    343
unique                2      3
top     Isotretinoin 40  Taken
freq                172    262

In [4]:
df.rename(columns = {'Name' : 'Dosage (mg)' , 'Value' : 'Status'} , inplace = True)
df.head(15)

        Dosage (mg)   Status
0   Isotretinoin 20    Taken
1   Isotretinoin 20    Taken
2   Isotretinoin 20    Taken
3   Isotretinoin 20    Taken
4   Isotretinoin 20  Skipped
5   Isotretinoin 20    Taken
6   Isotretinoin 20    Taken
7   Isotretinoin 20    Taken
8   Isotretinoin 20    Taken
9   Isotretinoin 20    Taken
10  Isotretinoin 20    Taken
11  Isotretinoin 20    Taken
12  Isotretinoin 20    Taken
13  Isotretinoin 20    Taken
14  Isotretinoin 20    Taken

In [5]:
df.tail(15)

         Dosage (mg)   Status
331  Isotretinoin 40  Skipped
332  Isotretinoin 40    Taken
333  Isotretinoin 40    Taken
334  Isotretinoin 40    Taken
335  Isotretinoin 40    Taken
336  Isotretinoin 40    Taken
337  Isotretinoin 40   Missed
338  Isotretinoin 40    Taken
339  Isotretinoin 40    Taken
340  Isotretinoin 40    Taken
341  Isotretinoin 40    Taken
342  Isotretinoin 40    Taken
343              NaN      NaN
344              NaN      NaN
345              NaN      NaN

In [6]:
#drop entire nan rows
df.dropna(how = 'all' , inplace = True)

#throw error for any nan values in the cleaned dataframe

if df.isnull().values.any():
    raise ValueError('Null values found in the dataframe, gimme clean data you peasant. *whip whip*\n\n')

In [7]:
df.tail(15)

         Dosage (mg)   Status
328  Isotretinoin 40   Missed
329  Isotretinoin 40   Missed
330  Isotretinoin 40  Skipped
331  Isotretinoin 40  Skipped
332  Isotretinoin 40    Taken
333  Isotretinoin 40    Taken
334  Isotretinoin 40    Taken
335  Isotretinoin 40    Taken
336  Isotretinoin 40    Taken
337  Isotretinoin 40   Missed
338  Isotretinoin 40    Taken
339  Isotretinoin 40    Taken
340  Isotretinoin 40    Taken
341  Isotretinoin 40    Taken
342  Isotretinoin 40    Taken

In [8]:
#export to csv
df.to_csv('clean_data.csv')

In [13]:
# encoding string to int

# status column, replace skipped & missed with 0, taken with 1
df['Status'].replace('Skipped' , 0 , inplace = True)
df['Status'].replace('Missed' , 0 , inplace = True)
df['Status'].replace('Taken' , 1 , inplace = True)

# dosage column
df['Dosage (mg)'].replace('Isotretinoin 40' , 40 , inplace = True)
df['Dosage (mg)'].replace('Isotretinoin 20' , 20 , inplace = True)

df.head(15)

    Dosage (mg)  Status
0            20       1
1            20       1
2            20       1
3            20       1
4            20       0
5            20       1
6            20       1
7            20       1
8            20       1
9            20       1
10           20       1
11           20       1
12           20       1
13           20       1
14           20       1

In [15]:
print("Total dosage supposed to be taken = 6 months = 180 days")
print("60mg per day = 180 * 60 = 10800 mg")

# Total dosage taken (where status = 1)
taken = df.drop(df[df.Status == 0].index)
taken.head(15)

    Dosage (mg)  Status
0            20       1
1            20       1
2            20       1
3            20       1
5            20       1
6            20       1
7            20       1
8            20       1
9            20       1
10           20       1
11           20       1
12           20       1
13           20       1
14           20       1
17           20       1

In [35]:
print('Total pills popped (mg) = ' , taken['Dosage (mg)'].sum() , 'mg')

# Total dosage skipped (where status = 0)
skipped = df.drop(df[df.Status == 1].index)
print('Total pills skipped tsk tsk tsk = ' , skipped['Dosage (mg)'].sum() , 'mg')

print("\n You need to take " , 10800 - taken['Dosage (mg)'].sum() , "mg more")

print("You need to pop pills for anotha " , (10800 - taken['Dosage (mg)'].sum()) / 60 , "days .-. ")

# show simple bar in terminal to show progress
print("\n\n")
print("Progress bar")
print("------------")
print("[" , end = '')
for i in range(int((taken['Dosage (mg)'].sum() / 10800) * 50)):
    print("#" , end = '')
for i in range(50 - int((taken['Dosage (mg)'].sum() / 10800) * 50)):
    print(" " , end = '')
print("]")
print("\nPercentage of dosage taken = " , (taken['Dosage (mg)'].sum() / 10800) * 100 , "%")
print("\n\n")

Total pills popped (mg) =  7860 mg
Total pills skipped tsk tsk tsk =  2440 mg

 You need to take  2940 mg more
You need to pop pills for anotha  49.0 days .-.



Progress bar
------------
[####################################              ]

Percentage of dosage taken =  72.77777777777777 %